* {
  margin: 5px;
  padding: 5px;
}

.main_display {
  height: auto; 
  border: 2px solid black; 
  padding: 20px;
  margin: 20px;
  background: black); 
}

h2 {
  color: white; 
  font-family: 'Press Start 2P', cursive;
  font-size: 16px; 
}

h2#title {
  font-size: 20px; 
  text-align: center; 

}

h2#subTitle {
  font-size: 15px; 
  color: rgb(165, 113, 113); 
  text-align: center; 
}

body {
  position: absolute; 
  top: 0; 
  height: 99%; 
  width: 99%; 
  border: 2px solid red; 
  background: rgb(37, 37, 37); 

}

#hangmanImgs {
  position: relative;
  top: 10px; 
  left: auto; 
  right: auto; 
  margin: 10px auto; 
  border: 2px solid black; 
  height: 300px; 
  width: 200px; 
  background: white; 
}

#head {
  z-index: 3;
  height: 70px;
  width: 70px;
  position: absolute; 
  top: 20px; 
  left: 70px; 
}

#body{
  z-index: 2;
  height: 100px;
  width: 20px;
  position: absolute; 
  top: 76px; 
  left: 95px
}

#lArm {
  z-index: 1;
  height: 45px;
  width: 60px;
  position: absolute; 
  top: 80px; 
  left: 95px;
}

#rArm {
  z-index: 1;
  height: 70px;
  width: 50px;
  position: absolute; 
  top: 80px; 
  left: 60px; 
}

#lLeg {
  z-index: 1;
  height: 90px;
  width: 50px;
  position: absolute; 
  top: 155px; 
  left: 95px; 
}

#rLeg {
  z-index: 1;
  height: 90px;
  width: 50px;
  position: absolute; 
  top: 155px; 
  left: 66px;
}

#gameOver {
  z-index: 5; 
  position: fixed; 
  top: 0; 
  height: 100%; 
  width: 100%; 
  animation-name: anim1;
  animation-duration: 3s;
}

@keyframes anim1 {
  from {opacity: 0;}
  to {opacity: 100%;}
}

#marioWin {
  height: 100%; 
  width: 100%; 
  position: absolute; 
  z-index: 5; 
  animation-name: anim1;
  animation-duration: 3s;
}

#linkWin {
  height: 100%; 
  width: 100%; 
  position: absolute; 
  z-index: 5; 
  animation-name: anim1;
  animation-duration: 3s;
}

#megamanWin {
  height: 100%; 
  width: 100%; 
  position: absolute; 
  z-index: 5; 
  animation-name: anim1;
  animation-duration: 3s;
}

#sonicWin{
  height: 100%; 
  width: 100%; 
  position: absolute; 
  z-index: 5; 
  animation-name: anim1;
  animation-duration: 3s;
}

#pacmanWin {
  height: 100%; 
  width: 100%; 
  position: absolute; 
  z-index: 5; 
  animation-name: anim1;
  animation-duration: 3s;
}

@media screen and (min-width: 768px) {
  /* change to float */
  
  #hangmanImgs {
    float: left; 
    margin-left: 10%; 

  }
  
  .main_display {
    float: left; 
    margin-left: 5%; 

  }

  #gameOver {
    clear: both; 
  }

}